@import "tailwindcss";



@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

html,
body {
  overflow-x: hidden;
  /* Allow vertical scrolling */
  overflow-y: auto;
}

html, body {
  scrollbar-width: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

html::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
  display: none;
}

html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
 display: none;
}

html::-webkit-scrollbar-button,
body::-webkit-scrollbar-button {
  display: none;
}


@layer utilities {
  .perspective-\[500px\] {
    perspective: 500px;
  }
  .preserve-3d {
    transform-style: preserve-3d;
  }
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.animate-blink {
  animation: blink 1s infinite;
}

.animation-delay-200 {
  animation-delay: 0.2s;
}
